header{
background-color: lime;
border: 2px solid black;
}
h1{
    background-color: black;
    color: lime;
    text-align: center;
}
ol{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#L1{
    background-color:black;
    color: rgb(97, 194, 250);
    border: 2px solid black;
}
#DartH{
    display: inline-block;
}
#L2{
    background-color: rgb(126, 88, 64);
    color: white;
    border: 2px solid black;
}
#Java{
    display: inline-block;
}
#L3{
    background-color: darkblue;
    color: lime;
    border: 2px solid black;
}
#CPlusPlus{
    display: inline-block;
}
#L4{
    background-color: blue;
    color: rgb(255, 152, 152);
    border: 2px solid black;
}
#CSharp{
    display: inline-block;
}
#L5{
    background-color: red;
    border: 2px solid black;
    color : white;
}
#Ruby{
    display: inline-block;
}
footer{
    background-color: lime;
    border: 2px solid;
}