#hdr1{
background-color: lime;
border: 2px solid black;
}
#hr1{
    background-color: black;
    color: lime;
    text-align: center;
}
#list1{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#L1{
    background-color:black;
    color: rgb(97, 194, 250);
    border: 2px solid black;
}
#DartH{
    display: inline-block;
}
#L2{
    background-color: rgb(126, 88, 64);
    color: white;
    border: 2px solid black;
}
#Java{
    display: inline-block;
}
#L3{
    background-color: darkblue;
    color: lime;
    border: 2px solid black;
}
#CPlusPlus{
    display: inline-block;
}
#L4{
    background-color: blue;
    color: rgb(255, 152, 152);
    border: 2px solid black;
}
#CSharp{
    display: inline-block;
}
#L5{
    background-color: red;
    border: 2px solid black;
    color : white;
}
#Ruby{
    display: inline-block;
}
#ftr1{
    background-color: lime;
    border: 2px solid;
}
#hdr2{
    background-color:lime; 
    border:2px solid;
}
#hr2{
    background-color:black; 
    color:lime; 
    border:3px solid;
    text-align: center;
}
#list2{
    padding: 0;
    margin: 0;
}
#L12{
    background-color:black; 
    color:rgb(97, 194, 250); 
    border:2px solid black;
}
#DartH2{
    display: inline-block;
}
#L22{
    background-color:rgb(126, 88, 64); 
    color:gold; 
    border:2px solid black;
}
#Java2{
    display: inline-block;
}
#L32{
    background-color:darkblue; 
    color:lime; 
    border:2px solid black;
}
#CPlusPlus2{
    display: inline-block;
}
#L42{
    background-color:darkblue; 
    color:lime; 
    border:2px solid black;
}
#CSharp2{
    display: inline-block;
}
#L52{
    background-color:red; 
    color:white; 
    border:2px solid black;
}
#Ruby2{
    display: inline-block;
}
#ftr2{
    background-color:lime; 
    border:2px solid;
}
#hdr3{
    background-color:lime; 
    border:2px solid;
}
#hr3{
    text-align: center;
    background-color:black; 
    color:lime; 
    border:3px solid;
}
.Flutter_Dart{
    background-color:black;
    color:rgb(97, 194, 250); 
    border:2px solid; 
    border-color:black
}
.Java{
    background-color:rgb(126, 88, 64); 
    color:gold; 
    border:2px solid; 
    border-color:black;
}
.CPlusPlus{
    background-color:darkblue; 
    color:lime; 
    border:2px solid; 
    border-color:black;
}
.CSharp{
    background-color:blue; 
    color:rgb(255, 138, 138); 
    border:2px solid; 
    border-color:black;
}
.Ruby{
    background-color:red; 
    border:2px solid; 
    border-color:black; 
    color:white;
}
#ftr3{
    background-color:lime; 
    border:2px solid;
}
.bold{
    font-weight: bold;
}
.big{
    font-size: 1.4em;
}
ol li::marker{
    font-weight: bold;
}